POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_HOST="localhost"

PHX_SERVER=true
DATABASE_URL="ecto://$POSTGRES_USER:$POSTGRES_PASSWORD@$POSTGRES_HOST/api_prod"
ECTO_IPV6=false
POOL_SIZE=2
SECRET_KEY_BASE="FhQEfYK9YV/wnZSFs56pTWbJTbMpyj/7tY+W2wX/7NuoVo5nPx9u6XKeWqIwLwd1"
PHX_HOST="localhost"
PORT=4000
